<ion-header>
  <ion-toolbar>
    <ion-title>datetime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-datetime cancelText='取消' doneText='确认' title="datetime" displayFormat='YYYY-MM-DD HH:mm:ss' placeholder="请选择时间"></ion-datetime>

  <ion-fab vertical="bottom" horizontal="right" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>